<!DOCTYPE html>
<html>
 <head>
   <title>Registrar's Office: Class Search></title>
   <meta name="viewport"
   content="width=device-width, initial-scale=1">
   <link rel="stylesheet"
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2/dist/css/bootstrap.min.css">
  </head>
 <body>
   <div class="container-fluid" style="background-color: #295078; color: white">
     {% include 'header.html' %}
   <div class="row">
     <div class="col-sm-3">
        <input class="form-control" type="text" name="dept"
               id="deptInput" placeholder="Department" autofocus/>
     </div>

     <div class="col-sm-3">
       <input class="form-control" type="text" name="num"
              id = "numInput" placeholder="Number" autofocus/>
       </div>

     <div class="col-sm-3">
       <input class="form-control" type="text" name="area"
              id = "areaInput" placeholder="Area" autofocus/>
       </div>

     <div class="col-sm-3">
       <input class="form-control" type="text" name="title"
              id = "titleInput" placeholder="Title" autofocus/>
     </div>
   </div>
   <br>
   </div>
   <div class="container-fluid" id="courses">
     { include '' %}
   </div>

    {% include 'footer.html' %}

  
   <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      
   <script>
       'use strict';
 
       function handleResponse(response) {
           $('#courses').html(response);
       }
 
       let request = null;
 
       function getResults() {
          
           let dept = $('#deptInput').val();
           dept = encodeURIComponent(dept);
           let num = $('#numInput').val();
           num = encodeURIComponent(num);
           let area = $('#areaInput').val();
           area = encodeURIComponent(area);
           let title = $('#titleInput').val();
           title = encodeURIComponent(title);
 
           let url = '/course_results?dept=' + dept
           url += '&num=' + num;
           url += '&area=' + area;
           url += '&title=' + title;
          
           if (request != null)
               request.abort();
          
           request = $.ajax(
               {
                   type: 'GET',
                   url: url,
                   success: handleResponse
               }
           );
       }
 
       function setup() {
           $('#deptInput').on('input', getResults)
           $('#numInput').on('input', getResults)
           $('#areaInput').on('input', getResults)
           $('#titleInput').on('input', getResults)
           getResults()
       }
 
       $('document').ready(setup);
 
   </script>
    
   </body>
</html>